.oswald {
  font-family: "Oswald", sans-serif;
}

.container {
  min-width: 90vw;
}
.small-icon {
  max-width: 6vw;
}

.tiny-icon {
  min-height: 3vh;
  max-height: 6vh;
}

.discography img {
  margin-top: 10px;
}

.music-videos {
  width: 50%;
}
.video {
  width: 100%;
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 600px) {
  .discography {
  }
}
